<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.agent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_g"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dj.agent.MainActivity">

        </activity>
        <activity android:name="com.dj.agent.startday"> </activity>
        <activity android:name="com.dj.agent.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.dj.agent.main">
        </activity>
        <activity android:name="com.dj.agent.setting"></activity>
        <activity android:name="com.dj.agent.finishday"></activity>
        <activity android:name="com.dj.agent.money"></activity>
        <activity android:name="com.dj.agent.insert"></activity>
    </application>

</manifest>